$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}

#menuKort {
    list-style-type: none;
    padding-left: 0px;

    .kaffe {
        border: 1px solid black;
        text-align: center;
        padding: 10px;
        margin: 2px 0px;

        span {
            margin: 0px 10px
        }
    }
}